# Production
VITE_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
VITE_SUPABASE_PUBLISHABLE_KEY=<SUBSTITUTE_SUPABASE_PUBLISHABLE_KEY>

# Development
VITE_SUPABASE_URL=<SUBSTITUTE_LOCAL_SUPABASE_CLI_URL>
VITE_SUPABASE_PUBLISHABLE_KEY=<SUBSTITUTE_LOCAL_SUPABASE_CLI_PUBLISHABLE_KEY>