@import 'tailwindcss';

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply overscroll-none text-neutral-600/80;
}

div.input-wrapper {
  @apply relative flex h-12 w-full flex-col px-3 pt-1;
}

label.base-label {
  @apply text-sm text-neutral-500;
}
input:not(.type-input) {
  @apply absolute inset-0 rounded-sm border border-neutral-400 px-3 pt-4.5 text-base text-neutral-800 outline-hidden focus-visible:border-2 focus-visible:border-neutral-950 disabled:bg-neutral-300 disabled:opacity-20;
}

button,
label.label-btn {
  @apply font-medium transition-colors duration-300 hover:cursor-pointer;
}

li {
  @apply relative pl-4;
}

li::before {
  @apply absolute top-2.5 left-0 inline-block size-1 rounded-full bg-neutral-700 content-[''];
}

a.text-link {
  @apply underline hover:cursor-pointer hover:text-neutral-950;
}

.heading-group {
  @apply mb-4;
}

/* Typography */
h1,
h2,
h3:not(.size-heading),
h4 {
  @apply tracking-tight;
}

h1 {
  @apply mb-2 text-2xl font-semibold text-neutral-950 sm:text-3xl;
}

h2 {
  @apply text-xl font-medium text-neutral-700 sm:text-2xl;
}

h3:not(.size-heading),
h4 {
  @apply text-lg font-medium text-neutral-950;
}
