@import 'tailwindcss';

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label,
input {
  @apply px-3 h-12 w-full;
}
label {
  @apply border border-neutral-700 rounded-sm flex flex-col text-sm text-neutral-500 pt-1 relative;
}
input {
  @apply text-base text-neutral-800 absolute inset-0 pt-4;
}
