@import 'tailwindcss';

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-neutral-600/80  overscroll-none;
}

div.input-wrapper {
  @apply px-3 h-12 w-full flex flex-col pt-1 relative;
}

label.base-label {
  @apply text-sm text-neutral-500;
}
input:not(.type-input) {
  @apply border border-neutral-400 rounded-sm text-base text-neutral-800 absolute inset-0 pt-4.5 px-3 disabled:opacity-20 disabled:bg-neutral-300 outline-hidden focus-visible:border-neutral-950 focus-visible:border-2;
}

button,
label.label-btn {
  @apply hover:cursor-pointer transition-colors duration-300 font-medium;
}

li {
  @apply relative pl-4;
}

li::before {
  @apply content-[''] inline-block size-1 bg-neutral-700 rounded-full absolute left-0 top-2.5;
}

a.text-link {
  @apply underline hover:text-neutral-950 hover:cursor-pointer;
}

.heading-group {
  @apply mb-4;
}

/* Typography */
h1,
h2,
h3:not(.size-heading),
h4 {
  @apply tracking-tight;
}

h1 {
  @apply text-2xl sm:text-3xl font-semibold mb-2 text-neutral-950;
}

h2 {
  @apply text-xl sm:text-2xl font-medium text-neutral-700;
}

h3:not(.size-heading),
h4 {
  @apply font-medium text-lg text-neutral-950;
}
